body{
    margin: 0;
    padding: 0;
}

.tamanho{
    max-width: 1200px;
    background-color: aquamarine;
    text-align: center;
    margin: auto;
    
}
.res{
    background-color: grey;
    margin: 20px;
    text-transform: uppercase;
    padding: 20px;
    color: white;
    text-align: left;
    border-radius: 75px;
    border: 2px solid grey;
}

.botaoPadrao{
    float: right;
    text-transform: uppercase;
}

.botaoConcluir{
    background-color: rgba(148, 144, 144, 0.575);
    margin: 20px;
    text-transform: uppercase;
    padding: 20px;
    color: white;
    text-align: left;
    border-radius: 75px;
    text-decoration: line-through;
    border: 2px solid white;
    
}
